@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Pink: hsl(281, 83%, 54%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
  --Base-font-size: 16px;
  --Font-weight: 400;
  --Font-weight-semibold: 600;
  --Font-weight-bold: 700;
  --Font: 'Work Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Light-pink);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url('../assets/images/background-pattern-desktop.svg');
  background-size: 1440px 320px;
  background-repeat: no-repeat;
  background-position: center top;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 900px;
}

.card {
  background-color: var(--White);
  border-radius: 16px;
  padding: 40px;
}

.card__header {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.card__header svg {
  margin-right: 24px;
}

.faqs {
  font-size: 56px;
  font-family: var(--Font);
  font-weight: var(--Font-weight-bold);
}

.card__item {
  border-bottom: 1px solid var(--Light-pink);
}

.card__item:not(:last-child) {
  margin-bottom: 24px;
}

.questions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions span {
  font-size: 18px;
  font-family: var(--Font);
  font-weight: var(--Font-weight-semibold);
  color: var(--Dark-purple);
  margin-bottom: 24px;
  cursor: pointer;
}

.questions span:hover {
  color: var(--Pink);
}

.questions svg {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.minus {
  display: none;
}

.answer {
  display: none;
  font-size: 16px;
  font-family: var(--Font);
  font-weight: var(--Font-weight);
  color: var(--Grayish-purple);
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  /* Media query for screens smaller than 768px */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../assets/images/background-pattern-mobile.svg');
    width: 100%;
    height: 100vh;
  }
  .card__container {
    width: 83%;
    height: 527px;
  }

  .card {
    padding: 24px;
  }

  .card__header {
    margin-bottom: 24px;
  }

  .faqs {
    font-size: 40px;
  }

  .card__item:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .card__item:not(:first-child) {
    margin-top: 20px;
  }

  .questions {
    align-items: center;
  }

  .questions span {
    font-size: 16px;
    margin-bottom: 0;
  }
  .svg {
    width: 32px;
  }

  .answer {
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 20px;
  }
}
